@{
    string pathName = ViewContext.HttpContext.Request.Path.ToString().ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surf's Up - Produkter</title>
    <link rel="stylesheet" href="/Style/style.css" asp-append-version="true">
    <link rel="icon" href="/Images/Skærmbillede 2024-08-23 092940.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/om-os" class="nav-item @(pathName.Contains("/om-os") ? "current" : "")" id="about">Om os</a>
                </li>
                <li>
                    <a href="/kategorier" class="nav-item @(pathName.Contains("/produkter") || pathName.Contains("/kategorier") || pathName.Contains("/produkt") ? "current" : "")" id="products">Produkter</a>
                </li>
                <li>
                    <a href="/lokationer" class="nav-item @(pathName.Contains("/lokationer") ? "current" : "")" id="locations">Lokationer</a>
                </li>
            </ul>
        </nav>
        <a href="/"><img src="/Images/Skærmbillede 2024-08-23 092940.png" alt="Surf's Up Logo"></a>
        <nav>
            <ul>
                <li>
                    <a href="/faq" class="nav-item @(ViewContext.HttpContext.Request.Path == "/faq" ? "current" : "")" id="faq">FAQ</a>
                </li>
                <li>
                    <a href="/kontakt" class="nav-item @(ViewContext.HttpContext.Request.Path == "/kontakt" ? "current" : "")" id="contact">Kontakt</a>
                </li>
                <li>
                    <button onclick="location.href='/kurv';" class="btn contained primary">
                        <svg class="btn-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        Kurv
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    @RenderSection("breadcrumb", false)
    @RenderBody()
</body>
<script src="/JavaScript/script.js"></script>
</html>
